<!DOCTYPE html>
<html>
	<head>
		<title>Artificial Emodiot</title>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
		<link href="/css/styles.css" rel="stylesheet">
		<script type="text/javascript" src="/js/script.js" defer></script>
		<link rel="icon" type="image/x-icon" href="/images/android-chrome-192x192.png" />
		<style>
			
		</style>
	</head>
	<body>
		<div class="testbox">
			<div id="logo"><img src="/images/logo.png" alt="Make Startups Logo"></div>
			<form action="#" id="ai_form">
				<h1>Welcome to Artificial Emodiot!</h1>
				<p>This application uses the power of AI to give you answers to your most burning questions. Be aware though... this AI tends to be a little bit emo.</p>
				<h4>Ask a question!</h4>
				<input type="text" id="ai_input" name="ai_input" rows="5" class="emo">
				<div class="btn-block">
					<input type="button" id="loadChat" value="Ask your question!">
				</div>
			</form>

			<div id="ai_response" class="hidden"></div>
		</div>

	</body>
</html>